
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--azul-degrade);
    color: var(--branco);
    height: 215px;
    width: 100vw; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.input_pesquisa {
    border-radius: 24px;
    border: 1px solid var(--branco);
    background-color: transparent;
    width: 380px;
    height: 44px;
    max-width: 300px;
    
}

.banner__titulo {
    font-family: var(--fonte-principal);
    font-weight: 700;
    padding: 5px;
}

.banner__paragrafo {
    padding: 10px;
    font-family: var(--fonte-principal);
    line-height: 1.4;
    word-break: break-word;
    color: var(--branco);
    padding-bottom: 30px;
}